<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registry Entry Report</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        table {
            width: 100%;
            table-layout: fixed;
            word-wrap: break-word;
            border-collapse: collapse;
        }

        th,
        td {
            font-size: 12px;
            padding: 4px;
            border: 1px solid #ccc;
            text-align: left;
            /* Ensure text align is the same for headings and cells */
        }

        .wrap {
            word-break: break-word;
        }

        .table-container {
            overflow-x: auto;
        }

        .container {
            max-width: 960px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .header h2 {
            font-size: 1.5rem;
            color: #333;
        }

        .btn-download {
            background-color: #4caf50;
            color: white;
            font-size: 14px;
            padding: 10px 15px;
            border-radius: 5px;
            text-decoration: none;
        }

        .btn-download:hover {
            background-color: #45a049;
        }

        .summary p {
            font-size: 12px;
            margin: 5px 0;
        }

        .summary strong {
            font-weight: bold;
        }
    </style>
</head>

<body class="bg-gray-100">
    <div class="container mx-auto p-8">
        <h2 class="text-2xl font-bold mb-4">Registry Entry Report</h2>

        <% if (!isPDF) { %>
            <!-- Filter Form -->
            <form id="filterForm" class="flex items-center space-x-4 mb-4" method="GET" action="/registry-entry-report">
                <input type="text" name="search" id="searchBar" placeholder="Search by Site"
                    class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <input type="date" name="startDate" id="startDate"
                    class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <input type="date" name="endDate" id="endDate"
                    class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Filter</button>
            </form>
            <div class="mt-6"> <button id="togglePart2Btn"
                    class="bg-gray-500 hover:bg-gray-700 text-white font-bold mb-4 py-2 px-4 rounded">Show Mediator
                    Details</button> </div>
            <!-- Download Button -->
            <a id="downloadBtn" href="/generate-report"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 mb-4 px-4 rounded"
                onclick="updateDownloadHref()">
                Download PDF
            </a>

            <% } %>

                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Gata No</th>
                                <th>Date of Registration</th>
                                <th>Site</th>
                                <th>Seller</th>
                                <th>Purchaser</th>
                                <th>Mobile No</th>
                                <th>Area</th>
                                <th>Rate</th>
                                <th>Total Amt.</th>
                                <th>Group Com.</th>
                                <th>Balance Amt</th>
                                <th>Gov. Value</th>
                                <th>Market Value</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(function(entry) { %>
                                <tr>
                                    <td>
                                        <%= entry.gataNo %>
                                    </td>
                                
                                    <td>
                                        <%= new Date(entry.dateOfRegistration).toLocaleDateString() %>
                                    </td>
                                    <td class="wrap">
                                        <%= entry.site %>
                                    </td>
                                    <td class="wrap">
                                        <%= entry.seller %>
                                    </td>
                                    <td class="wrap">
                                        <%= entry.purchaser %>
                                    </td>
                                    <td class="wrap">
                                        <%= entry.mobileNo %>
                                    </td>
                                    <td>
                                        <%= entry.area %> sq. ft.
                                    </td>
                                    <td>₹<%= entry.rate %>
                                    </td>
                                    <td>₹<%= entry.totalAmount %>
                                    </td>
                                    <td>₹<%= entry.groupCommision %>
                                    </td>
                                    <td>₹<%= entry.balanceAmount %>
                                    </td>
                                    <td>₹<%= entry.govValue %>
                                    </td>
                                    <td>₹<%= entry.marketingValue %>
                                    </td>

                                </tr>
                                <% }); %>
                                    <tr class="font-bold bg-gray-50">
                                        <td colspan="8" class="text-right">Total</td>
                                        <td>₹<%= totalGroupCommision %>
                                        </td>
                                        <td>₹<%= totalBalanceAmount %>
                                        </td>
                                        <td>₹<%= totalGovValue %>
                                        </td>
                                        <td>₹<%= totalMarketingValue %>
                                        </td>
                                        <td></td>
                                    </tr>
                        </tbody>
                    </table>
                </div>

                <h1>Mediator part </h1>
                <div id="part2" class="hidden mt-6 table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Mediator</th>
                                <th>Mediator Commision</th>
                                <th>Balance Group Commision Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(function(entry) { %>
                                <tr>
                                    <td class="wrap">
                                        <%= entry.mediator %>
                                    </td>
                                    <td>₹<%= entry.mediatorCommision %>
                                    </td>
                                    <td>₹<%= entry.balanceGroupCommisionAmount %>
                                    </td>
                                </tr>
                                <% }); %>
                                    <tr class="font-bold bg-gray-50">
                                        <td colspan="1" class="text-right">Total</td>
                                        <td>₹<%= totalMediatorCommision %>
                                        </td>
                                        <td>₹<%= totalBalanceGroupCommisionAmount %>
                                        </td>
                                    </tr>
                        </tbody>
                    </table>
                </div>
    </div>

    <script>
        // Update Download Button with Current Filters
        document.getElementById('filterForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent default form submission
            const search = document.getElementById('searchBar').value;
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;

            // Construct query parameters for filtering and downloading
            const queryParams = new URLSearchParams({ search, startDate, endDate }).toString();

            // // Update the download button's href dynamically
            // const downloadBtn = document.getElementById('downloadBtn');
            // downloadBtn.href = `/generate-report?${queryParams}`;


            // Submit the form to apply filters
            this.submit();
        });


        function updateDownloadHref() {
            const search = document.getElementById('searchBar').value;
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;

            const queryParams = new URLSearchParams({ search, startDate, endDate }).toString();
            document.getElementById('downloadBtn').href = `/generate-report?${queryParams}`;
        }

        // Toggle Show/Hide Mediator Details 
        document.getElementById('togglePart2Btn').addEventListener('click', function () {
            const part2 = document.getElementById('part2');
            if (part2.classList.contains('hidden')) {
                part2.classList.remove('hidden');
                this.textContent = 'Hide Mediator Details';
            } else {
                part2.classList.add('hidden'); this.textContent = 'Show Mediator Details';
            }
        });

    </script>
</body>

</html>